<html lang="en">
 <head>
  <meta charset="UTF-8">
  <script src="https://kit.fontawesome.com/7286f6060f.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
 </head>
 <body>
    <nav class="mouseM">
      <ul class="header">
        <li><a>THE THINKING SPACE</a></li>
        <li class="home" style="float: right;"><a href="/"><i class="fa-solid fa-house"></i></a></li>
      </ul>
    </nav>

    <div class="container mouseM">
      <form action="submit-shape" method="post">
        <h1 class="colouredText">Choose a shape!</h1>
        <div class="shape-container">
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="parallelogram">
              <img src="images/parallelogram.png" />
            </label>
          </div>
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="circle">
              <img src="images/circle.png" />
            </label>
          </div>
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="square">
              <img src="images/square.png" />
            </label>
          </div>
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="star">
              <img src="images/star.png" />
            </label>
          </div>
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="triangle">
              <img src="images/triangle.png" />
            </label>
          </div>
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="spikeyball">
              <img src="images/spikeyball.png" />
            </label>
          </div>
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="cloud">
              <img src="images/cloud.png" />
            </label>
          </div>
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="hexagon">
              <img src="images/hexagon.png" />
            </label>
          </div>
        </div>
        <!-- Submit button -->
        <div align="center">
          <button type="submit">NEXT</button>
        </div>
      </form>
    </div>

    <!-- Footer with logo and motto aligned to left and right -->
    <footer class="footer">
      <img class="logo" src="images/logo.png" alt="Raymer Enterprises Ltd" width="212" height="104">
      <span class="motto mouseM">With emotional health in mind</span>
    </footer>
 </body>
</html>
