<html lang="en">
<%- include('./partials/head.ejs') %>
 <body>
    <nav class="mouseM">
      <ul class="header">
        <li><a>THE THINKING SPACE</a></li>
        <li class="home" style="float: right;"><a href="/"><i class="fa-solid fa-house"></i></a></li>
      </ul>
    </nav>
    <div class="container mouseM">
      <form id="shapeForm" method="post">
        <h1 class="colouredText">Choose a shape!</h1>
        <div class="shape-container">
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="parallelogram">
              <img src="images/parallelogram.png" />
            </label>
          </div>
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="circle">
              <img src="images/circle.png" />
            </label>
          </div>
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="square">
              <img src="images/square.png" />
            </label>
          </div>
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="star">
              <img src="images/star.png" />
            </label>
          </div>
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="triangle">
              <img src="images/triangle.png" />
            </label>
          </div>
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="spikeyball">
              <img src="images/spikeyball.png" />
            </label>
          </div>
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="cloud">
              <img src="images/cloud.png" />
            </label>
          </div>
          <div class="shape-item">
            <label>
              <input type="radio" name="shape" value="hexagon">
              <img src="images/hexagon.png" />
            </label>
          </div>
        </div>
        <div class="button-div" align="center">
          <button type="previous" id="backButton">BACK</button>
          <button type="submit" id="nextButton">NEXT</button>
        </div>
      </form>
    </div>
    <footer class="footer">
      <img class="logo" src="images/logo.png" alt="Raymer Enterprises Ltd" width="212" height="104">
      <span class="motto mouseM">With emotional health in mind</span>
    </footer>
    <script>
      document.getElementById('backButton').addEventListener('click', function() {
      const form = document.getElementById('shapeForm');
      form.action = '/previous-shape';
      form.submit();
    });

    document.getElementById('nextButton').addEventListener('click', function() {
      const form = document.getElementById('shapeForm');
      form.action = '/next-shape';
      form.submit();
    });
    </script>
 </body>
</html>
