<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <nav class="mouseM">
    <ul class="header">
      <li><a>THE THINKING SPACE</a></li>
      <li class="home" style="float: right;"><a href="/"><i class="fa-solid fa-house"></i></a></li>
    </ul>
  </nav>

  <div class="maincontainer">
  <div class="container1 mouseM" style="height:460px">
    <form id="wordForm" method="post">
      <h1 class="colouredText">Choose a word!</h1>
      <p class="bodyText">Click the feeling that feels most like you</p>

      <input type="hidden" id="selectedEmotion" name="selectedEmotion" value="">
      
      <div class="button-container">
        <div class="word-item">
          <button type="button" name="emotion" value="Angry" onclick="highlightButton(this)">Angry</button>
        </div>
        <div class="word-item">
          <button type="button" name="emotion" value="Disgusted" onclick="highlightButton(this)">Disgusted</button>
        </div>
        <div class="word-item">
          <button type="button" name="emotion" value="Fearful" onclick="highlightButton(this)">Fearful</button>
        </div>
        <div class="word-item">
          <button type="button" name="emotion" value="Happy" onclick="highlightButton(this)">Happy</button>
        </div>
        <div class="word-item">
          <button type="button" name="emotion" value="Sad" onclick="highlightButton(this)">Sad</button>
        </div>
        <div class="word-item">
          <button type="button" name="emotion" value="Surprised" onclick="highlightButton(this)">Surprised</button>
        </div>
      </div>

      <div class="button-div" align="center">
        <button type="button" id="backButton">BACK</button>
        <button type="submit" id="nextButton" disabled>NEXT</button>
      </div>
    </form>
</div>

<div class="container2 mouseM" class="colour-container">
  <div align="center">
  <div class="colour-container">
  <h1 class="colouredText">Your character</h1>
  <img src="" alt="selected emotion">
  <!-- <img id="selectedShapeImage" src="" alt="Selected Shape"></img> -->
  <!-- <img id="selectedColourImage" src="" alt="Selected Colour" style="max-width: 100%; height: auto;"></img> -->
</div>
<div class="clear"></div>
</div>
</div>

  </div>

  <footer class="footer">
    <img class="logo" src="images/logo.png" alt="Raymer Enterprises Ltd" width="212" height="104">
    <span class="motto mouseM">With emotional health in mind</span>
  </footer>

  <script>
    const words = document.querySelectorAll('.button-container .word-item button');

    window.onload = function() {
      const savedEmotion = sessionStorage.getItem('emotion');
        if (savedEmotion) {
          const selectedWord = Array.from(words).find(
            (word) => word.value === savedEmotion
          );
          if (selectedWord) {
            highlightButton(selectedWord)
          }
        }
    }

    const nextButton = document.getElementById("nextButton");
    function highlightButton(button) {
      const buttons = document.querySelectorAll('.word-item button');
      buttons.forEach(btn => btn.classList.remove('active'));
      button.classList.add('active');
      nextButton.disabled = false
      sessionStorage.setItem('emotion', button.value);
      document.getElementById('selectedEmotion').value = button.value;
    }
    document.getElementById('backButton').addEventListener('click', function() {
      const form = document.getElementById('wordForm');
      form.action = '/previous-word';
      form.submit();
    });

    document.getElementById('nextButton').addEventListener('click', function() {
      const form = document.getElementById('wordForm');
      form.action = '/next-word';
      form.submit();
    });
  </script>
</body>
</html>
