<html lang="en">
 <head>
  <meta charset="UTF-8">
  <!-- Allows use of icons from fontawesome -->
  <script src="https://kit.fontawesome.com/7286f6060f.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
 </head>
 <nav class="mouseM">
  <ul class="header">
   <li><a>THE THINKING SPACE</a></li>
   <li class="home" style="float: right;"><a href="/"><i class="fa-solid fa-house"></i></a></li>
  </ul>
 </nav>
 <body>
<div class="container mouseM">
<!--<h1 class="h1">I am a...</h1>
  <div class="flex-container">
        <button class="button" onClick="window.location.href='/student'">Student</button>
      <i class="fa-solid fa-person student"></i>
  <div class="flex-container">
        <button class="button">Teacher</button>
      <i class="fa-solid fa-person teacher"></i>-->
	  <table width="100%">
        <tr>
          <td colspan="4"><h1 class="colouredText">Choose a shape!</h1></td>
          <!--<td width="22%">&nbsp;</td>
          <td width="24%">&nbsp;</td>
          <td width="24%">&nbsp;</td>-->
          <td width="4%"><div><a href="/"><i class="fa-solid fa-arrow-left"></i></a></div></td>
        </tr>
        <tr>
          <td width="25%"><div><img src="images/parallelogram.png" width="140" height="120" /></div></td>
          <td width="25%"><div><img src="images/circle.png" width="140" height="120" /></div></td>
          <td width="25%"><div><img src="images/square.png" width="140" height="120" /></div></td>
          <td width="25%"><div><img src="images/star.png" width="140" height="120" /></div></td>
          <td><div></div></td>
        </tr>
        <tr>
          <td><div><img src="images/triangle.png" width="140" height="120" /></div></td>
          <td><div><img src="images/spikeyball.png" width="140" height="120" /></div></td>
          <td><div><img src="images/cloud.png" width="140" height="120" /></div></td>
          <td><div><img src="images/hexagon.png" width="140" height="120" /></div></td>
          <td><div></div></td>
        </tr>
        <tr>
          <td colspan="4"><div align="center"><button>NEXT</button></div></td>
          <!--<td><div align="center"></div></td>
          <td><div align="center"></div></td>
          <td><div align="center"></div></td>-->
          <td><div></div></td>
        </tr>
      </table>
	  <h1>&nbsp;</h1>
 </div>
  <img class="logo" src="images/logo.png" alt="Raymer Enterprises Ltd" width="212" height="104">
 </body>
 <nav class="mouseM">
 	
    <span class="motto">With emotional health in mind</span>
 </nav>

</html>
