<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>The Thinking Space | <%= title %></title>
 <link rel="icon" href="/images/icon.png" sizes="64x64">
 <script src="https://kit.fontawesome.com/7286f6060f.js" crossorigin="anonymous"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="style.css">
</head>
<style>
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
</style>
<body>
    <nav class="mouseM">
        <ul class="header">
            <li><a>THE THINKING SPACE</a></li>
            <li class="home" style="float: right;"><a href="/"><i class="fa-solid fa-house"></i></a></li>
        </ul>
    </nav>

    <div class="maincontainer">
    <div class="container1 mouseM" style="height: 465px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h2 class = "colouredText">Feeling force</h2>

        <p class="bodyText">How strong are your feelings right now? Press the plus and minus buttons!</p>
        
        <div class="meter-container">
            <img id="meter" src="images/meter.jpg" width="150" height="130">
            <img id="arrow" src="images/arrow.png" width="20" height="40">
        </div>

        <!-- <img id="arrow" src="images/arrow.png" width="130" height="120" style="transition: transform 0.5s ease; top:480px; transform: rotate(283deg); position: absolute; z-index: 2;"> -->
        <!-- <img src="images/meter.jpg" width="150" height="130" style="position: absolute; z-index: 1;"> -->
        

        <div style="display: flex; align-items: center; margin-top: -40px;">
            <div style="padding: 20px; margin-right: 70px;">
                <button onclick="decrease()">-</button>
            </div>

            <div style="padding: 20px; margin-left: 70px;">
                <button onclick="increase()">+</button>
            </div>
            
            <p id="clickCount"></p>
        </div>

        <form id = "form" action="submit-force" method="post">
            <input id="clickCountInput" name="clickCount" type="hidden" value="5" >
            <div class="button-div" align="center">
                    <button onclick="sendDataToServer()" type="submit" id = "nextButton">NEXT</button>
            </div>
        </form>

        <form action="/previous-force" method="post">
            <div class="button-div" align="center">
                <button type="button-div" id="backButton">BACK</button>
            </div>
        </form>
        </div>

        <div class="container2 mouseM" class="colour-container">
            <div align="center">
            <div class="colour-container">
            <h1 class="colouredText">Your character</h1>
            <div style="position: relative;display: inline-block;">
            <img src="<%= filepath %>" id="selectedShapeImage" alt="selected emotion">
            <img id="emotionImage" src="" alt="Emotion Overlay" style="position: absolute; top: 0; left: 0;width: 100%; height: 100%; object-fit: contain; display: none;">
          </div>
          </div>
          <div class="clear"></div>
          </div>
          </div>
            </div>
          

    <!-- pass a force value -->

        


    
    <footer class="footer">
        <img class="logo" src="images/logo.png" alt="Raymer Enterprises Ltd" width="212" height="104">
        <span class="motto mouseM">With emotional health in mind</span>
    </footer>

    

    <script>
        function shakeCharacter()
        {
        }
        function sendDataToServer() {
            document.getElementById("clickCountInput").value = clickCount;
            document.getElementById("form").submit();
        }
    
        document.getElementById("nextButton").addEventListener("click", function(event) {
            event.preventDefault();
            sendDataToServer(); 
        });

        let rotationAngle = 0; // Initial rotation angle
        let clickCount = 5;
        
        function decrease() {
            const n = -18; // Number of degrees to rotate on each click
            if (rotationAngle + n >= -100) {
            rotationAngle += n; // Increase the rotation by n degrees each time
            }
            if (clickCount > 0) {
                clickCount--;
            }

            document.getElementById("clickCount").innerHTML = clickCount;
            document.getElementById('arrow').style.transform = `translate(-50%, -50%) rotate(${rotationAngle}deg)`;
            if(clickCount >= 7) shakeCharacter();
        }

        function increase() {
            const n = 18;
            if (rotationAngle + n <= 100) {
            rotationAngle += n;
            }
            if (clickCount < 10) {
                clickCount++;
            }
            if(clickCount >= 7) shakeCharacter();
            document.getElementById("clickCount").innerHTML = clickCount;
            document.getElementById('arrow').style.transform = `translate(-50%, -50%) rotate(${rotationAngle}deg)`;
        }

        document.addEventListener('DOMContentLoaded', () => {
        const selectedEmotion = sessionStorage.getItem('emotion');

        const emotionImages = {
    "Angry": "/images/character/expressions/angry.png",
    "Disgusted": "/images/character/expressions/disgusted.png",
    "Fearful": "/images/character/expressions/fearful.png",
    "Happy": "/images/character/expressions/happy.png",
    "Sad": "/images/character/expressions/sad.png",
    "Surprised": "/images/character/expressions/surprised.png"
  };

  const emotionImage = document.getElementById('emotionImage');
  emotionImage.src = emotionImages[selectedEmotion];
    emotionImage.style.display = "block";

});
    </script>

</body>
</html>
