<html lang="en">
<%- include('./partials/head.ejs') %>
    <body>
        <nav class="mouseM">
        <ul class="header">
            <li><a>THE THINKING SPACE</a></li>
            <li class="home" style="float: right;"><a href="/"><i class="fa-solid fa-house"></i></a></li>
        </ul>
        </nav>

        <div class="container mouseM">  
            <div id="canvas" onload="startGame()">
                <h1 class="colouredText">Feeling Families</h1>
                <script>
                    var canvasWidth = 600;
                    var canvasHeight = 400;
        
                    function startGame() {
                        gameCanvas.start();
                    }
        
                    var gameCanvas = {
                        canvas: document.createElement("canvas"),
                        start: function(){
                            this.canvas.width = canvasWidth
                            this.canvas.height = canvasHeight
                            this.context = this.canvas.getContext("2d");
                            document.canvas.insertBefore(this.canvas, document.canvas.childNodes[0])
                        }
                    }
                </script>
            </div>
        </div>

        <!-- Footer with logo and motto aligned to left and right -->
        <footer class="footer">
        <img class="logo" src="images/logo.png" alt="Raymer Enterprises Ltd" width="212" height="104">
        <span class="motto mouseM">With emotional health in mind</span>
        </footer>

        

    </body>


</html>
