<html lang="en">
<%- include('./partials/head.ejs') %>
    <body>
        <nav class="mouseM">
        <ul class="header">
            <li><a>THE THINKING SPACE</a></li>
            <li class="home" style="float: right;"><a href="/"><i class="fa-solid fa-house"></i></a></li>
        </ul>
        </nav>

        <div class="container mouseM" id="gameCanvas">  
            <h1 class="colouredText">Feeling Families</h1>
            <img class="logo" id="basketImage" src="images/basket.jpg" alt="basket image" width="1" height="1">
            <!--need to centre this button-->
            <button onclick="startGame()" class="button" id="startButton">Start Game!</button>
            

            
            
        </div>

        <!-- Footer with logo and motto aligned to left and right -->
        <footer class="footer">
        <img class="logo" src="images/logo.png" alt="Raymer Enterprises Ltd" width="212" height="104">
        <span class="motto mouseM">With emotional health in mind</span>
        </footer>

        <script>
            var word1;
            let leftPressed = false;
            let rightPressed = false;

            function startGame() {
                gameArea.start();
                // create components for words
                word1 = new component("angry", 10, 80)
            }
            var gameArea = {
                // create canvas, remove start game button and place canvas in container
                canvas : document.createElement("canvas"),
                start : function() {
                    this.canvas.width = 480;
                    this.canvas.height = 270;
                    this.context = this.canvas.getContext("2d");
                    this.context.font = "20px Comic Sans";
                    document.getElementById("startButton").remove()
                    document.getElementById('gameCanvas').appendChild(this.canvas);
                    //runs updateGameArea every 20ms
                    this.interval = setInterval(updateGameArea, 20);
                    // runs key left/right handler when the left/right arrows are pressed
                    document.addEventListener("keyleft", keyLeftHandler, false);
                    document.addEventListener("keyright", keyRightHandler, false);
                },
                clear : function() {
                    this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
                }
                }
            
                // create component for each word
                function component(word, x, y) {
                    this.word = word
                    this.x = x
                    this.y = y
                    this.update = function(){
                        ctx = gameArea.context;
                        ctx.fillText(this.word, this.x, this.y);
                        }   
                }

                //create a basket that the words will fall into
                // this needs to move left and right with the mouse
                function drawBasket() {
                    // need to make this a png
                    const image = document.getElementById("basketImage")
                    gameArea.context.drawImage(image, 20, 150,100, 100)
                }

                // update until all words have fallen
                // at the end of the game, see what words are in the basket, see if you go up a level

                function updateGameArea() {
                    gameArea.clear();
                    if(word1.y <= 260){
                        word1.y += 1;
                    }
                    word1.update();
                    drawBasket();
                }

        </script>

    </body>


</html>
