<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>The Thinking Space | Home</title>
  <!-- Allows use of icons from fontawesome -->
  <script src="https://kit.fontawesome.com/7286f6060f.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
 </head>
 <nav class="mouseM">
  <ul class="header">
   <li><a>THE THINKING SPACE</a></li>
   <li class="home" style="float: right;"><a href="/"><i class="fa-solid fa-house"></i></a></li>
  </ul>
 </nav>
 <body>
<div class="index-container mouseM">
<h1 class="h1">I am a...</h1>
  <div class="flex-container">
        <button id="student" class="button" onClick="window.location.href='/choose_shape'">Student</button>
      <i class="fa-solid fa-person student"></i>
  </div>
  <div class="flex-container">
        <button class="button">Teacher</button>
      <i class="fa-solid fa-person teacher"></i>
  </div>
 </div>
 <footer class="index-footer">
  <img class="logo" src="images/logo.png" alt="Raymer Enterprises Ltd" height="60px" width="120px">
  <span class="motto mouseM">With emotional health in mind</span>
</footer>
 </body>
</html>
