<html lang="en">
<%- include('./partials/head.ejs') %>
 <body>
    <nav class="mouseM">
      <ul class="header">
        <li><a>THE THINKING SPACE</a></li>
        <li class="home" style="float: right;"><a href="/"><i class="fa-solid fa-house"></i></a></li>
      </ul>
    </nav>

    <div class="container mouseM">  
    <h1 class="colouredText">Mood Matcher</h1>
    <h2 class="colouredText">Are you feeling <%= mood %> ? </h2>

    <form id = "form" action="submit-mood" method="post">
      <input id="moodSummary" name="mood" type="hidden" >
      <div class="button-div" align="center">
              <button onclick="sendDataToServer()" type="submit" id = "nextButton">Yes</button>
      </div>
  </form>

  <form action="/previous-mood" method="post">
      <div class="button-div" align="center">
          <button type="button-div" id="backButton">No</button>
      </div>
  </form>

    <!-- Footer with logo and motto aligned to left and right -->
    <footer class="footer">
      <img class="logo" src="images/logo.png" alt="Raymer Enterprises Ltd" width="212" height="104">
      <span class="motto mouseM">With emotional health in mind</span>
    </footer>
 </body>
 <script>
  const colourPicker = document.querySelector(".colourPicker");
  const image = document.querySelector(".chosen-shape");
  colourPicker.addEventListener("input", function() {
      image.style.backgroundColor = colourPicker.value;
  });
</script>
</html>
