<html lang="en">
  <%- include('partials/head') %>
  <nav class="mouseM">
    <ul class="header">
      <li><a>THE THINKING SPACE</a></li>
      <li class="home" style="float: right;"><a href="/"><i class="fa-solid fa-house"></i></a></li>
    </ul>
  </nav>
  <body>
    <div class="index-container mouseM">
      <h1 class="h1">Student Login</h1>
      <form id="loginForm" method="POST" action="/student_login">
        <div class="flex-container">
          <label for="name">Name:</label><br>
          <input type="text" placeholder="Enter your Name" id="name" name="name" required><br>
        </div>
        <div class="pass-wrap">
          <label for="teachername">Teacher's Name:</label><br>
          <input type="text" placeholder="Enter Teacher's Name" id="teachername" name="teachername" required><br>
        </div>
        <div align="center" class="button-container">
          <button id="backButton" class="buttonBelow" type="button">
            HOME
          </button>
          <button id="nextButton" class="buttonBelow" type="submit">
            LOGIN
          </button>
        </div>
      </form>
    </div>

    <style>
      .flex-container,
      .pass-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 5px;
        position: relative;
      }

      label {
        font-size: x-large;
        font-weight: bold;    
      }

      input[type="text"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        max-width: 250px;
        height: 40px;
        text-align: center;             
      }

      input[type="text"]:focus {
        border-color: #4a90e2;
        outline: none;
      }

      .button-container {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
      }

      #submit {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 120px;
      }

    </style>

    <script>
      document.getElementById('backButton').addEventListener('click', function() {
        window.location.href = '/';
      });
    </script>

  <footer class="index-footer">
    <img class="logo" src="images/logo.png" alt="Raymer Enterprises Ltd" height="60px" width="120px">
    <span class="motto mouseM">With emotional health in mind</span>
  </footer>

  </body>
</html>
