<html lang="en">
<head>
 <meta charset="UTF-8">
 <script src="https://kit.fontawesome.com/7286f6060f.js" crossorigin="anonymous"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="style.css">
</head>
<body>
<nav class="mouseM">
    <ul class="header">
        <li><a>THE THINKING SPACE</a></li>
        <li class="home" style="float: right;"><a href="/"><i class="fa-solid fa-house"></i></a></li>
    </ul>
   </nav>

<div class="container si-container mouseM" style="width: 90%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h2 class = "colouredText" style="padding: 10px; margin: 20px;">Students</h2>
        <!-- <p class="bodyText">____</p> -->

        <table id="students">
            <tr>
              <th>Name</th>
              <th>Year</th>
              <th>Mood result</th>
            </tr>
            <tr>
              <td>Student 1</td>
              <td>4</td>
              <td>Irritated</td>
            </tr>
            <tr>
              <td>Student 2</td>
              <td>5</td>
              <td>Disgusted</td>
            </tr>
            <tr>
              <td>Student 3</td>
              <td>5</td>
              <td>Embarrassed</td>
            </tr>
            <tr>
              <td>Student 4</td>
              <td>6</td>
              <td>Upset</td>
            </tr>
            <tr>
              <td>Student 5</td>
              <td>6</td>
              <td>Disappointed</td>
            </tr>
            <tr>
              <td>Student 6</td>
              <td>4</td>
              <td>Happy</td>
            </tr>
            <tr>
              <td>Student 7</td>
              <td>6</td>
              <td>Anxious</td>
            </tr>
            <tr>
              <td>Student 8</td>
              <td>5</td>
              <td>Scared</td>
            </tr>
            <tr>
              <td>Student 9</td>
              <td>4</td>
              <td>Angry</td>
            </tr>
            <tr>
              <td>Student 10</td>
              <td>4</td>
              <td>Upset</td>
            </tr>
          </table>

</div>
  
    <footer class="footer si-footer">
        <img class="logo" src="images/logo.png" alt="Raymer Enterprises Ltd" width="212" height="104">
        <span class="motto mouseM">With emotional health in mind</span>
      </footer>

</body>
</html>
