<html lang="en">
<head>
 <meta charset="UTF-8">
 <script src="https://kit.fontawesome.com/7286f6060f.js" crossorigin="anonymous"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="style.css">
</head>
<body>
<nav class="mouseM">
    <ul class="header">
        <li><a>THE THINKING SPACE</a></li>
        <li class="home" style="float: right;"><a href="/"><i class="fa-solid fa-house"></i></a></li>
    </ul>
   </nav>

<div class="container mouseM" style="width: 90%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h2 class = "colouredText" style="padding: 10px; margin: 20px;">Students</h2>
        <!-- <p class="bodyText">____</p> -->
        <div class="table-container">
          <table id="students">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Mood result</th>
                  </tr>
              </thead>
              <tbody>
                  <% students.forEach(student => { %>
                  <tr class="clickable-row">
                      <td><%= student.name %></td>
                      <td><%= student.mood %></td>
                  </tr>
                  <% }) %>
              </tbody>
          </table>
      </div>

      <!-- Scroll Buttons -->
      <button id="scrollUp"><i class="fa-solid fa-chevron-up"></i></button>
      <button id="scrollDown"><i class="fa-solid fa-chevron-down"></i></button>

</div>
  
    <footer class="footer">
        <img class="logo" src="images/logo.png" alt="Raymer Enterprises Ltd" width="212" height="104">
        <span class="motto mouseM">With emotional health in mind</span>
      </footer>

</body>
</html>
