<html lang="en">
<%- include('partials/head') %>
<body>
<nav class="mouseM">
    <ul class="header">
        <li><a>THE THINKING SPACE</a></li>
        <li class="home" style="float: right;"><a href="/"><i class="fa-solid fa-house"></i></a></li>
    </ul>
   </nav>

<div class="container mouseM" style="width: 500px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h2 class = "colouredText" style="padding: 10px; margin: 20px;">What happened?</h2>
        <p class="bodyText">Share with us why you feel this way in the box</p>

        <form id = "form" action="/submit-text" method="post">
            <textarea  style="width: 300px; height: 150px; resize:none;" type="text"  align="left" rows="3" id="whatHappened" name="what"></textarea>
            <div class="button-div" align="center">
                <button onClick="sendDataToServer()" type="submit" id = "nextButton">NEXT</button>
        </div>
    </form>
    <form action="/previous-happen" method="post">
        <div class="button-div" align="center">
            <button type="button-div" id="backButton">BACK</button>
        </div>
    </form>

<script>
    let nextButton = document.getElementById('nextButton');
    let what = document.getElementById('whatHappened');
    
    window.onload = function() {
        if (selectedText.trim === "") {
          nextButton.disabled = true;
        } else {
            nextButton.disabled = false;
        }
      }
    </script>

<script>
    function sendDataToServer() {
        document.getElementById("whatHappened");
		// Sanitize text data on page
		// This is a very basic implementation
		var whatHappened = document.getElementById("whatHappened").value;
		var whatHappenedSanitized = "";
		for(var i = 0; i < whatHappened.length; i++)
		{
			// Scan for any suspicious characters in the text area
			switch(whatHappened.charAt(i))
			{
			case '{':
			case '}':
			case '[':
			case ']':
			case '$':
			case '&':
			case '*':
			case ':':
			case '\\':
			case '<':
			case '>':
				break;
			default:
				whatHappenedSanitized = whatHappenedSanitized.concat(whatHappened.slice(i, i + 1));
			}
		}
		document.getElementById("whatHappened").value = whatHappenedSanitized;
        document.getElementById("form").submit();
    }

    document.getElementById("nextButton").addEventListener("click", function(event) {
        event.preventDefault();
        sendDataToServer(); 
    });
</script>

</div>

</div>
</div>
  
    <footer class="footer">
        <img class="logo" src="images/logo.png" alt="Raymer Enterprises Ltd" width="212" height="104">
        <span class="motto mouseM">With emotional health in mind</span>
      </footer>

</body>
</html>
