<html lang="en">
<head>
 <meta charset="UTF-8">
 <script src="https://kit.fontawesome.com/7286f6060f.js" crossorigin="anonymous"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="style.css">
</head>
<body>
<nav class="mouseM">
    <ul class="header">
        <li><a>THE THINKING SPACE</a></li>
        <li class="home" style="float: right;"><a href="/"><i class="fa-solid fa-house"></i></a></li>
    </ul>
   </nav>

<div class="container mouseM" style="width: 500px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h2 class = "colouredText" style="padding: 10px; margin: 20px;">What happened?</h2>
        <p class="bodyText">Share with us why you feel this way in the box</p>

        </div>

<!-- pass info -->

<script>
    function sendDataToServer() {
        document.getElementById("clickCountInput").value = clickCount;
        document.getElementById("form").submit();
    }

    document.getElementById("nextButton").addEventListener("click", function(event) {
        event.preventDefault();
        sendDataToServer(); 
    });
</script>

<form id = "form" action="submit-force" method="post">
    <input id="clickCountInput" name="clickCount" type="hidden" value="5" >
    <div class="button-div" align="center">
            <button onclick="sendDataToServer()" type="submit" id = "nextButton">NEXT</button>
            
          </div>
        </form>

<form action="/previous-force" method="post">
    <div class="button-div" align="center">
        <button type="button-div" id="backButton">BACK</button>
    </div>
</form>

</div>
  
    <footer class="footer">
        <img class="logo" src="images/logo.png" alt="Raymer Enterprises Ltd" width="212" height="104">
        <span class="motto mouseM">With emotional health in mind</span>
      </footer>

</body>
</html>
