<head>
 <meta charset="UTF-8">
 <title>The Thinking Space | <%= title %></title>
 <link rel="icon" href="images/icon.png">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css">
 <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr"></script>
 <script src="https://kit.fontawesome.com/7286f6060f.js" crossorigin="anonymous"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="style.css">
</head>