@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
html {
    animation: fadein 2s;
    height: 100%;
    margin: 0;
    max-height: 1080px;
}

.index-html {
    animation: fadein 2s;
    height: 100%;
    margin: 0;
    max-height: 1080px;
    overflow: hidden;
}

body{
    position: relative;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(226, 226, 226);
    height: 100%;
    margin: 20px;
    background-image: url(images/background-removebg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    /* border-radius: 25px; */
    font-size: 46px;
    color: rgb(121, 166, 224);
    padding: 15;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    /* background-color: rgb(255, 241, 195); */
    background-image: url(images/header.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 110px
  }

.home{
    color: rgb(121, 166, 224);
    background-image: url(images/header2.png);
    height: 80px;
    width: 120px;
    padding-right: 30px;
    list-style-type: none;
    background-repeat: no-repeat;
}

.home a{
    cursor: default;
}

.fa-house{
    margin-left: 30px;
    cursor: pointer;
}

/* Prevents home icon from being purple once clicked*/
a:visited {
    color: rgb(121, 166, 224);
}

a:hover {
    color: rgb(141, 169, 206);
}

.header li {
    float: left;
}

.header li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

@font-face {
    font-family: mouseM;
    src: url(fonts/Stopbuck.ttf);
}

@font-face {
    font-family: buycat;
    src: url(fonts/Buycat.ttf);
}

@font-face {
    font-family: milkynice;
    src: url(fonts/MilkyNice.ttf);
}

.mouseM { 
    font-family: mouseM;
}


.buycat { 
    font-family: buycat;
}

.milkynice { 
    font-family: milkynice;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    margin-top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem 5px;
    color: rgb(121, 166, 224);
}

.logo{
    height: 60px;
    width: 120px;
}

.motto {
    color: black;
    font-size: 1.5em;
    text-align: right;
}

.maincontainer {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: flex-start; /* Centers vertically */
    width: 100%;
    background-color: transparent;
    margin: auto;
    /* flex-wrap: wrap; */
}

.container1 {
    /* max-width: 50%;
    margin: 8rem auto 16rem; */
    margin:30px;
    padding: 1.2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: #ffffff;
    color: rgb(121, 166, 224);
    min-height: 250px;
    width:900px;

}

.container2 {
    /* max-width: 50%;
    margin: 8rem auto 16rem; */
    margin:30px;
    padding: 1.2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: #ffffff;
    color: rgb(121, 166, 224);
    min-height: 460px;
    width:600px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: top; /* Center horizontally */
    text-align: top; /* Center text */
    justify-content: flex-start; /* Keep content at the top */
    height: 100%; /* Ensures full height */


}

.container1, .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clear {
    clear: both;
}

/* replace with container 1 and 2 */
.container {
    max-width: 50%;
    margin: 8rem auto 16rem;
    padding: 1.2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: #ffffff;
    color: rgb(121, 166, 224);
    min-height: 250px;
}
/* ====================================== */

.moodSummary{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers everything vertically */
    align-items: center; /* Centers everything horizontally */
    text-align: center;
}

.index-container {
    text-align: center;
    max-width: 50%;
    min-width: 190px;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(121, 166, 224);
}

.index-container .button {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(121, 166, 224);
    margin: 5px;
    width: 70%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}


.index-container .button:hover {
    background-color: rgba(227, 227, 227, 0.9);
}

.index-container h1 {
    margin-top: 0px;
}

.container .button {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(121, 166, 224);
    margin: 5px;
    width: 70%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.flex-container {
    display: flex; 
    align-items: center;
    margin: 10px 0;
}

.container .button:hover {
    background-color: rgba(227, 227, 227, 0.9);
}

.index-container h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.container1 h1 {
    text-align: center;
    width:100%;
    display:block;
    margin: 0;
    margin-bottom: 10px;
}

.container2 h1 {
    text-align: center;
    padding:-100px;
    width:100%;
    display:block;
    margin: 0;
    margin-bottom: 10px;
}

/* maybe replace */
.container h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}



.button-div{
    margin-top: 10px;
}

.student {
    font-size: 25px;
    margin-left: 13.5px;
}

.teacher {
    font-size: 40px;
    margin-left: 10px;
}

.shape-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
  }

.shape-item {
    text-align: center;
  }

/* Hide radio input circles */
.shape-item input[type="radio"] {
    display: none;
  }

.shape-item img {
    border-radius: 6px;
    width: 100%;
    max-width: 180px;
    max-height: 160px;
    border: 2px solid transparent;
    transition: border 0.3s ease;
    cursor: pointer;
  }

.shape-item:hover img {
    border: 2px solid rgba(227, 227, 227, 0.9);
  }

.shape-item input[type="radio"]:checked + img {
    border: 2px solid rgb(121, 166, 224);
  }

.colouredText{
    color: rgb(121, 166, 224);
}

.bodyText {
    font-family: "Alumni Sans Pinstripe", serif;
    font-weight: 600;
    text-align: center;
    font-style: normal;
    color: rgb(121, 166, 224);
    margin: 5px auto;
}

.index-footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem 5px;
    color: rgb(121, 166, 224);
}

/* For smaller screens */
@media (max-width: 865px) {
    .container {
        max-width: 90%;
        margin-bottom: 8rem;
    }
    .logo {
        height: 40px;
        width: 80px;
    }
    .motto {
        font-size: 1.2em;
    }
}

@media (max-height: 590px) {
    .footer {
        position: relative;
    }
    .container{
        margin: 2rem auto 2rem;
    }
}

.chosen-shape {
    width: 100%;
    max-width: 180px;
    max-height: 160px;
}

.houseContainer {
    position: relative;
}

.container2 .houseText {
    position: relative;
}

#correct{
    color: rgb(37, 126, 38);
}

#incorrect{
    color: rgb(235, 53, 53);
}

.colourPicker{
    display: none;
    text-align: center;
    margin-bottom: 20px;
}

/* THIS IS ADDITIONAL WORDS SECTION */
.word-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.word-selection {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 15px;
    max-width: 80%; 
    margin: 20px auto; 
}

.addword-item label{
    display: block;;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 100px;
    padding: 10px 15px;
    font-size: 1.3em;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer
    
}
.addword-item hover{
    box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
}
.addword-item.selected label{
    background-color: lightgreen;
    
}
.addword-item label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.selected-words {
    width: 20%;
    text-align: center;
}
.selected-word{
    padding: 3px;
}

.canvas{
    border: 2px solid black;
    background-color: #ebeacd;
}

.left-words, .right-words{
    font-size: 1.8em;
    font-weight: bold;
    width: 40%;
    color: var(--main-colour);
    text-shadow: 
    -1px -1px 0 var(--add-colour),  
    1px -1px 0 var(--add-colour),
    -1px  1px 0 var(--add-colour),
    1px  1px 0 var(--add-colour);
}


/* END OF ADDITIONAL WORDS STYLING*/

.palette{
    color:rgb(133, 87, 66);
    margin: -15px 0px 20px 0px;
    font-size: 40px;
}
.word-item{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr); /* 3 rows */
    gap: 10px;
    justify-items: center;
    align-items: center;
    width: 100%;
  }

  .word-item button {
    background-color: rgb(125, 191, 248);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%; /* Ensures buttons take up full width of the container */
    max-width: 200px; /* Optional: max width to prevent too wide buttons */
  }

  .word-item button:hover {
    background-color: #90f9a0;
  }

  .button-div {
    margin-top: 20px;
    text-align: center;
  }

  .button-div button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #4a90e2;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .button-div button:hover {
    background-color: #35bd4e;
  }

  .word-item button.active {
    background-color: #90f9b3; 
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }


/* Background shapes ------------------------------------------------------------------------------------------------------- */

/* HTML: <div class="cloud"></div> */
.cloud1 {
    height: 180px;
    aspect-ratio: 1.8;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
    background: #ffffff;
    position: relative;
    animation: float1;
    animation-duration: 400s;
    animation-iteration-count: infinite;
}

.cloud2 {
    height: 100px;
    aspect-ratio: 1.8;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
    background: #ffffff;
    position: relative;
    animation: float2;
    animation-duration: 200s;
    animation-iteration-count: infinite;
}

.cloud3 {
    height: 150px;
    aspect-ratio: 1.8;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
    background: #ffffff;
    position: relative;
    animation: float1;
    animation-duration: 300s;
    animation-iteration-count: infinite;
}

/* <<<<<<< feature/update-index-page */

/* HTML: <div class="sparkle"></div> */

.square {
    width: 100px;
    height: 100px;
    border-radius: 20;
    animation: float7;
    position: relative;
    animation-duration: 75s;
    animation-iteration-count: infinite;
    background: red;
  }

.sparkle {
    height: 300px;
    width: 250px;
    background: #EDC951;
    animation: float7;
    position: relative;
    animation-duration: 75s;
    animation-iteration-count: infinite;
    mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
  
    /* if you will use a different unit than px consider round()
     height: round(__,1px);
     width: round(__,1px);
    */
  }

  /* HTML: <div class="star"></div> */
.star {
    width: 100px;  
    aspect-ratio: 1;
    animation: float3;
    position: relative;
    animation-duration: 75s;
    animation-iteration-count: infinite;
    background: #ffe785;
    clip-path: polygon(50% 0,
      calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
      calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
     ); 
  }

  .wavy-circle {
    --s: 150px; 
    width: var(--s); 
    aspect-ratio: 1;
    animation: float6;
    position: relative;
    animation-duration: 97s;
    animation-iteration-count: infinite;
    --g:/calc(var(--s)*0.283) calc(var(--s)*0.283) radial-gradient(50% 50%,#000 99%,#0000 101%) no-repeat;
    mask: calc(50% + var(--s)*0.321) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*0.099) calc(50% + var(--s)*0.305) var(--g),calc(50% + var(--s)*-0.26) calc(50% + var(--s)*0.189) var(--g),calc(50% + var(--s)*-0.26) calc(50% + var(--s)*-0.189) var(--g),calc(50% + var(--s)*0.099) calc(50% + var(--s)*-0.305) var(--g),radial-gradient(calc(var(--s)*0.378),#000 99%,#0000 101%) subtract,calc(50% + var(--s)*0.381) calc(50% + var(--s)*0.277) var(--g),calc(50% + var(--s)*-0.146) calc(50% + var(--s)*0.448) var(--g),calc(50% + var(--s)*-0.471) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*-0.146) calc(50% + var(--s)*-0.448) var(--g),calc(50% + var(--s)*0.381) calc(50% + var(--s)*-0.277) var(--g);
  }

  .flower {
    width: 140px; /* adjust to control the size */
    aspect-ratio: 1;
    animation: float4;
    position: relative;
    animation-duration: 120s;
    background: #ff9e9e;
    animation-iteration-count: infinite;
    --g:/30.26% 30.26% radial-gradient(#000 calc(71% - 1px),#0000 71%) no-repeat;
    mask: 92.922% 75.645% var(--g),56.712% 99.547% var(--g),15.447% 86.14% var(--g),0.201% 45.518% var(--g),22.455% 8.271% var(--g),65.451% 2.447% var(--g),96.812% 32.431% var(--g),radial-gradient(100% 100%,#000 31.417%,#0000 calc(31.417% + 1px));
  }

  .starburst {
    width: 150px; /* adjust to control the size */
    aspect-ratio: 1;
    animation: float5;
    position: relative;
    animation-duration: 97s;
    background: #c8ff9e;
    animation-iteration-count: infinite;
    clip-path: polygon(94.85% 72.1%,66.03% 70.47%,60.69% 98.84%,43.99% 75.3%,18.48% 88.81%,26.47% 61.07%,0% 49.55%,26.68% 38.51%,19.18% 10.63%,44.44% 24.6%,61.56% 1.36%,66.39% 29.82%,95.24% 28.71%,76% 50.23%);
  }

 .circle {
    width: 100px;
    height: 100px;
    animation: float8;
    position: relative;
    animation-duration: 75s;
    animation-iteration-count: infinite;
    background: red;
    border-radius: 50%
  }

/* top: +down
left: +right */

  @keyframes colour {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

  @keyframes float1 {
    0%   {left:0px; top:0px;}
    50%  {left:1500px; top:0px;}
    100% {left:0px; top:0px;}
  }

  @keyframes float2 {
    0%   {left:0px; top:0px;}
    50%  {left:-1500px; top:0px;}
    100% {left:0px; top:0px;}
  }

  @keyframes float3 {
    0%   {left:0px; top:-100px;}
    25%  {left:1500px; top:-500px;}
    50% {left:800px; top:200px;}
    100%   {left:0px; top:-100px;}
  }

  @keyframes float4 {
    0%   {background-color:rgb(255, 141, 141); left:1500px; top:-700px;}
    5%  {background-color:rgb(202, 145, 255);}
    10%  {background-color:rgb(135, 177, 255);}
    15%  {background-color:rgb(125, 201, 255);}
    20%  {background-color:rgb(173, 255, 135);}
    25%  {background-color:rgb(255, 255, 123); left:1700px; top:-200px;}
    30%  {background-color:rgb(255, 185, 115);}
    35%  {background-color:rgb(255, 141, 141);}
    40%  {background-color:rgb(202, 145, 255);}
    45%  {background-color:rgb(135, 177, 255);}
    50% {background-color:rgb(125, 201, 255); left:1000px; top:100px;}
    55%  {background-color:rgb(173, 255, 135);}
    60%  {background-color:rgb(255, 255, 123);}
    65%  {background-color:rgb(255, 185, 115);}
    70%  {background-color:rgb(202, 145, 255);}
    75% {background-color:rgb(135, 177, 255); left:-200px; top:-100px;}
    80%  {background-color:rgb(125, 201, 255);}
    85%  {background-color:rgb(173, 255, 135);}
    90%  {background-color:rgb(255, 255, 123);}
    95%  {background-color:rgb(255, 185, 115);}
    100%   {background-color:rgb(255, 141, 141); left:1500px; top:-700px;}
  }

  @keyframes float5 {
    0%   {background-color:rgb(125, 201, 255); left:100px; top:-200px;}
    5% {background-color:rgb(173, 255, 135);}
    10% {background-color:rgb(255, 255, 123);}
    15% {background-color:rgb(255, 185, 115);}
    20% {background-color:rgb(255, 141, 141);}
    25%  {background-color:rgb(202, 145, 255); left:700px; top:-100px;}
    30% {background-color:rgb(135, 177, 255);}
    35% {background-color:rgb(125, 201, 255);}
    40% {background-color:rgb(173, 255, 135);}
    45% {background-color:rgb(255, 255, 123);}
    50% {background-color:rgb(255, 185, 115); left:1640px; top:-300px;}
    55% {background-color:rgb(255, 141, 141);}
    60% {background-color:rgb(202, 145, 255);}
    65% {background-color:rgb(135, 177, 255);}
    70% {background-color:rgb(125, 201, 255);}
    75% {background-color:rgb(135, 177, 255); left:600px; top:-800px;}
    80% {background-color:rgb(173, 255, 135);}
    85% {background-color:rgb(255, 255, 123);}
    90% {background-color:rgb(255, 185, 115);}
    95% {background-color:rgb(255, 141, 141);}
    100%   {background-color:rgb(202, 145, 255); left:100px; top:0px;}
  }

  @keyframes float6 {
    0% {background-color:rgb(255, 255, 123); left:700px; top:-300px;}
    5% {background-color:rgb(255, 185, 115);}
    10% {background-color:rgb(255, 141, 141);}
    15%  {background-color:rgb(202, 145, 255);}
    20% {background-color:rgb(135, 177, 255);}
    25% {background-color:rgb(125, 201, 255); left:-200px; top:300px;}
    30% {background-color:rgb(173, 255, 135);}
    35% {background-color:rgb(255, 255, 123);}
    40% {background-color:rgb(255, 185, 115);}
    45% {background-color:rgb(255, 141, 141);}
    50% {background-color:rgb(202, 145, 255); left:1500px; top:-300px;}
    55% {background-color:rgb(135, 177, 255);}
    60% {background-color:rgb(125, 201, 255);}
    65% {background-color:rgb(173, 255, 135);}
    70% {background-color:rgb(255, 255, 123);}
    75% {background-color:rgb(255, 185, 115); left:100px; top:500px;}
    80% {background-color:rgb(255, 141, 141);}
    85% {background-color:rgb(202, 145, 255);}
    90%   {background-color:rgb(135, 177, 255);}
    95% {background-color:rgb(125, 201, 255);}
    100% {background-color:rgb(173, 255, 135); left:700px; top:-300px;}
}
  
@keyframes float7 {
    0% {background-color:rgb(173, 255, 135); left:200px; top:-600px;}
    5% {background-color:rgb(255, 255, 123);}
    10% {background-color:rgb(255, 185, 115);}
    15% {background-color:rgb(255, 141, 141);}
    20% {background-color:rgb(202, 145, 255); left:1300px; top:-200px;}
    25% {background-color:rgb(135, 177, 255);}
    30% {background-color:rgb(125, 201, 255);}
    35% {background-color:rgb(173, 255, 135);}
    40% {background-color:rgb(255, 255, 123);}
    45% {background-color:rgb(255, 185, 115);}
    50% {background-color:rgb(255, 141, 141);left:1400px; top:-500px;}
    55% {background-color:rgb(202, 145, 255);}
    60% {background-color:rgb(135, 177, 255);}
    65% {background-color:rgb(125, 201, 255);}
    70% {background-color:rgb(173, 255, 135);left:300px; top:-600px;}
    75% {background-color:rgb(255, 255, 123);}
    80% {background-color:rgb(255, 185, 115);}
    85% {background-color:rgb(255, 141, 141); left:400px; top:-200px;}
    90% {background-color:rgb(202, 145, 255);}
    95% {background-color:rgb(135, 177, 255);}
    100% {background-color:rgb(125, 201, 255); left:100px; top:-700px;}
}

@keyframes float8 {
    0% {background-color:rgb(255, 185, 115); left:1000px; top:-600px;}
    5% {background-color:rgb(255, 255, 123);}
    10% {background-color:rgb(173, 255, 135);}
    15% {background-color:rgb(125, 201, 255); left:1200px; top:-400px;}
    20% {background-color:rgb(135, 177, 255);}
    25% {background-color:rgb(202, 145, 255);}
    30% {background-color:rgb(255, 141, 141);left:1500px; top:-700px;}
    35% {background-color:rgb(255, 185, 115);}
    40% {background-color:rgb(255, 255, 123);}
    45% {background-color:rgb(173, 255, 135);left:800px; top:-900px;}
    50% {background-color:rgb(125, 201, 255);}
    55% {background-color:rgb(135, 177, 255);}
    60%   {background-color:rgb(202, 145, 255);}
    65% {background-color:rgb(255, 141, 141);left:200px; top:-700px;}
    70% {background-color:rgb(255, 185, 115);}
    75% {background-color:rgb(255, 255, 123);}
    80% {background-color:rgb(173, 255, 135);left:500px; top:-300px;}
    85% {background-color:rgb(125, 201, 255); }
    90% {background-color:rgb(135, 177, 255);}
    95% {background-color:rgb(202, 145, 255);}
    100% {background-color:rgb(255, 141, 141); left:1000px; top:-600px;}
}
  


/*========================================================*/

/* table */
table {
    border-radius: 10px; 
  }

#students {
    font-family: milkynice;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px; 
  }
  
  #students td, #students th {
    border: 1px solid #ffffff;
    padding: 8px;
  }
  
  #students td {
    color: #1d5441;
}

  #students tr:nth-child(even){background-color: #ecf7f4;}
  
  #students tr:hover {background-color: #d5efe0;}
  
  #students th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4acfa3;
    color: rgb(255, 255, 255);
  }

  /* Round the top-left and top-right corners of the first row */
#students tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
#students tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

/* Round the bottom-left and bottom-right corners of the last row */
#students tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
#students tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

/* print ("hello world) */

/* ============================================= */

/* Grey next when disabled */

#nextButton {
    padding: 10px 20px;
    font-size: 1em;
    font-family: milkynice;
    color: #fff;
    background-color: #4a90e2;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#backButton {
    padding: 10px 20px;
    font-size: 1em;
    font-family: milkynice;
    color: #fff;
    background-color: #4a90e2;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#nextButton:disabled {
    background-color: #d3d3d3; 
    cursor: not-allowed;
    color: #aaa;
} 

input[name="colourValue"] {
    width: 40px;
    height: 40px;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.meter-container {
    position: relative;
    width: 150px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#meter {
    position: relative;
    z-index: 1;
    top:40px
}

#arrow {
    position: absolute;
    z-index: 2;
    top: 105px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease;
    transform-origin: 50% 100%;
}

#show-passwd {
    position: absolute;
    float: right;   
    cursor: pointer;
    margin: 5px 0px 0px 5px;
    width: 20px;                 
    height: 20px;
}
